// Place all the styles related to the connections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


legend {
    padding-bottom:4px;
}


td{
    padding-right:8px;
    padding-bottom:8px;
    padding-top:8px;
    border-bottom:1px solid black;
    border-right:1px solid black;
}


.btn{
    border:none ;
    padding:10px;
    color:lightpink;
    font-weight: bold;
    background-color: white;
}
.btn:hover{
    color:white;
    background-color:lightpink;
}


textarea {
    width:82%;
}
.button-group{
    display: flex;
}

.field > input[type=text], input[type=email], input[type=password]{
    width:80%;
}